$wrap_class: '.portuna-addon--horizontal-mega-menu';
$wrap_nav:   '.portuna-addon-menu';

#{ $wrap_class }--layout1 {
    #{ $wrap_class }--content {
        #{ $wrap_nav }-items {
            margin: 0;
            padding: 0;
            display: flex;

            #{ $wrap_nav }-item {
                margin: 0;
                padding: 0;
                display: block;

                #{ $wrap_nav }__wrapper-content {
                    display: flex;

                    &-link {

                    }

                    #{ $wrap_nav }-dropdown {
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            .portuna-addon-sub-menu {

            }
        }
    }
}