.elementor-editor-active {
    .elementor-element {
        .widgetarea_warper_editable {
            &:hover {
                outline: 1px dashed #6d7882;
            }

            .widgetarea_warper_close,
            .widgetarea_warper_edit {
                display: block;

                &:hover {
                    background: #10bcf2;
                }
            }
        }
    }
}

.widgetarea_warper_editable {
    position: relative;
    min-height: 35px;
    min-width: 110px;
    //max-width: calc( 100% - 10% );
    //margin: 0 auto;
    //padding: 25px;
    transition: all .3s ease-in-out;

    .widgetarea_warper_edit {
        top: 0px;
        right: 50px;
        border-bottom-left-radius: 4px;
    }

    .widgetarea_warper_close {
        top: 0;
        right: 50px;
        border-bottom-right-radius: 4px;
    }

    .widgetarea_warper_edit,
    .widgetarea_warper_close {
        display: none;
        position: absolute;
        padding: 4px;
        font-size: 18px;
        color: #fff;
        background: linear-gradient(0deg, #41c9f4, #71d7f7);
        line-height: 1;
        cursor: pointer;
        z-index: 99999;
    }
}

body:not( .elementor-editor-active ) {
    //.elementor_widget_container {
    //    display: none;
    //}

    .elementor-section.elementor-section-stretched {
        left: 0!important;
        width: 100%!important;
    }
}

body.elementor-editor-active {
    .elementor_widget_container {
        font-family: sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        color: #dcdcdc;
    }

    .widgetarea_warper_editable {
        position: relative;
        min-height: 35px;
        min-width: 110px;
        //max-width: calc( 100% - 10% );
        //margin: 0 auto;
        transition: all .3s ease-in-out;
    }

    .swiper-slide {
        height: auto;

        .widgetarea_warper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    .elementor-section.elementor-section-stretched {
        left: 0!important;
        width: 100%!important;
    }

    .elementor_widget_container {
        width: 100%;
    }
}

//.portuna-addon-modal{
//    display: none;
//
//    .dialog-widget-content{
//        position:static!important;
//        margin-top:10px
//    }
//}