.elementor-editor-active {
    .elementor-element {
        &:hover {
            .widgetarea_warper_editable {
                outline: 1px dashed #6d7882;

                &:hover {
                    outline: 1px solid #71d7f7;
                }

                .widgetarea_warper_close,
                .widgetarea_warper_edit {
                    display: block;

                    &:hover {
                        background: #71d7f7;
                    }
                }
            }
        }
    }
}

.widgetarea_warper_editable {
    position: relative;
    min-height: 35px;
    min-width: 110px;

    .widgetarea_warper_edit {
        top: 0;
        right: 31px;
        border-bottom-left-radius: 4px;
    }

    .widgetarea_warper_close {
        top: 0;
        right: 0;
        border-bottom-right-radius: 4px;
    }

    .widgetarea_warper_edit,
    .widgetarea_warper_close {
        display: none;
        position: absolute;
        padding: 3px 6px;
        font-size: 18px;
        color: #fff;
        background: #6d7882;
        line-height: 1;
        cursor: pointer;
        z-index: 99999;
    }
}

//.portuna-addon-modal{
//    display: none;
//
//    .dialog-widget-content{
//        position:static!important;
//        margin-top:10px
//    }
//}