$wrap_class: '.portuna-addon--advanced-heading';

#{ $wrap_class }--layout1 {

    #{ $wrap_class }--content {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        &-title,
        &-subtitle {
            display: inline-flex;
            margin: 0;
            flex: 1 1 100%;
        }

        &-subtitle {
            transition-property: all;

            &-square {
                position: relative;
                transition-property: all;
                transition-timing-function: ease-in-out;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    transition-property: all;
                    transition-timing-function: ease-in-out;
                }

                &-right {
                    &::before {
                        left: 5px;
                    }

                    &:hover {
                        &::before {
                            left: 0px;
                        }
                    }
                }

                &-left {
                    &::before {
                        right: 5px;
                    }

                    &:hover {
                        &::before {
                            right: 0px;
                        }
                    }
                }

                &-top {
                    &::before {
                        bottom: 5px;
                    }

                    &:hover {
                        &::before {
                            bottom: 0px;
                        }
                    }
                }

                &-bottom {
                    &::before {
                        top: 5px;
                    }

                    &:hover {
                        &::before {
                            top: 0px;
                        }
                    }
                }
            }
        }
    }
}